.article {
  width: 100%;

  * {
    &:not([class]) {
      overflow: hidden;
    }
  }
  table {
    width: 100%;
    @include adaptive(margin-bottom, 25, 20, 0);
  }
  img {
    width: 100%;
    height: auto;

    &[class^="show-modal"] {
      @include _transition(all, 0.35s);
      @media only screen and (min-width: 1152px) {
        &:hover {
          // opacity: 0.85;
          filter: brightness(40%);
        }
      }
    }
  }
  p,
  a {
    @include adaptive(margin-bottom, 25, 20, 0);

    &:last-child,
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  strong {
    font-weight: 600;
  }
  mark {
    color: $mainColor;
    background: $accentColor;
  }
  h {
    @for $i from 1 through 6 {
      &#{$i} {
        &:not([class]) {
          font-family: Raleway, sans-serif;

          @include adaptive(margin-bottom, 25, 20, 0);

          // max-width: 50%;
        }
      }
    }
  }

  a {
    &:not([class]) {
      @include _transition(all, 0.35s);

      @media only screen and (min-width: 1152px) {
        &:hover {
          color: $accentColor;
        }
      }
    }
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // @include adaptive(margin, -20, -10, 0);
    margin: -20px;
    flex-wrap: wrap;
  }

  td {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 20px;
    overflow: hidden;
    // @include adaptive(margin, 20, 10, 0);
    flex: 1 1 calc(50% - 40px);

    @media only screen and (max-width: 1024px) {
      flex: 1 1 calc(50% - 20px);
    }
  }

  hr {
    @include adaptive(width, 100, 50, 0);
    height: 2px;
    background: $accentColor;
  }
  // .article-wrapper {
  &-wrapper {
    @extend .wrapper;
    @include adaptive(margin-bottom, 100, 50, 0);
  }
  // .article-control Х
  &-control {
    @extend .wrapper;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include adaptive(margin-bottom, 120, 60, 0);
    // .article-control__item {
    &__item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      @include _transition(all, 0.35s);

      @media only screen and (min-width: 1152px) {
        &:hover {
          color: $accentColor;
          .article {
            &-control {
              &__icon {
                &::before {
                  background-position: left center;
                }
              }
            }
          }
        }
      }
    }
    // .article-control__icon {
    &__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @include adaptive(width, 25, 25, 0);
      @include adaptive(min-width, 25, 25, 0);
      @include adaptive(height, 25, 25, 0);
      @include _transition(all, 0.35s);
      position: relative;

      &::before {
        content: "";
        display: inline-flex;
        width: 100%;
        height: 100%;
        @include _transition(all, 0.35s);
        background-image: url("../img/icons//icon-arrow-double.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
      }
    }
    // .article-control__prev {
    &__prev {
      .article {
        &-control {
          &__icon {
            margin-right: 10px;

            &::before {
              transform: scale(-1, -1);
            }
          }
        }
      }
    }
    // .article-control__next {
    &__next {
      text-align: right;
      .article {
        &-control {
          &__icon {
            margin-left: 10px;

            order: 2;
            &::before {
              background-position: right center;
            }
          }
        }
      }
    }
  }
}

.modal-image {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  @media only screen and (min-width: 1152px) {
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      pointer-events: none;
      background-image: url("../img/icons/icon-zoom-in-alt.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      @include _transition(all, 0.25s);
      width: 20%;
      height: 20%;
      z-index: 2;
      opacity: 0;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}
