$ultraWidth: 2560;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$maxHeight: 1326;
$maxMobileWidth: 768;
$transitionWidth: 1152;
$ultraWidth-screen: "(min-width: #{$ultraWidth}px)";
$width-screen: "(min-width: #{$maxWidth}px)";
$height-screen: "(min-height: #{$maxHeight}px)";
$transition-width-screen: "(min-width: #{$transitionWidth}px)";
// Function
@function get-vw($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: ($maxWidth * 0.01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}
@function get-vh($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: ($maxHeight * 0.01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vh;
}
@function get-mvw($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: ($maxMobileWidth * 0.01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}

//MIXINS
@mixin vw($property, $size, $type: 0) {
  @if $type==1 {
    #{$property}: get-vw($size) !important;
    // Prevent font-size from getting too big
    @media #{$width-screen} {
      #{$property}: $size !important;
    }
  } @else {
    #{$property}: get-vw($size);
    // Prevent font-size from getting too big
    @media #{$width-screen} {
      #{$property}: $size;
    }
  }
}

@mixin vh($property, $size, $type: 0) {
  @if $type==1 {
    #{$property}: get-vh($size) !important;
    // Prevent font-size from getting too big
    @media #{$height-screen} {
      #{$property}: $size !important;
    }
  } @else {
    #{$property}: get-vh($size);
    // Prevent font-size from getting too big
    @media #{$height-screen} {
      #{$property}: $size;
    }
  }
}

@mixin mvw($property, $size, $type: 0) {
  @if $type==1 {
    #{$property}: get-mvw($size) !important;
  } @else {
    #{$property}: get-mvw($size);
  }
}

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    src: url($furl);
    font-style: $fstyle;
    font-weight: $fweight;
    font-display: swap; // Uncomment to initially display system fonts
  }
}

@mixin _transition($element: all, $time: 0.5s, $timing: ease-in-out) {
  transition: $element ease-in-out $time;
  -webkit-transition: $element ease-in-out $time;
  -moz-transition: $element ease-in-out $time;
  -ms-transition: $element ease-in-out $time;
  -o-transition: $element ease-in-out $time;
}

@mixin _borderRadius($borderRadius) {
  border-radius: $borderRadius;
  -webkit-border-radius: $borderRadius;
  -moz-border-radius: $borderRadius;
  -ms-border-radius: $borderRadius;
  -o-border-radius: $borderRadius;
}

@mixin adaptive($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  $vw-context: $maxWidth * 0.01 * 1;
  // $vw-contextMx: $maxWidthMx * 0.01 * 1;

  @if $type==1 {
    //только если меньше контейнера
    #{$property}: $startSize + px;

    @media (maxWidth: #{$maxWidthContainer} + px) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type==2 {
    //только если больше контейнера
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer} + px) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else if $type==3 {
    #{$property}: calc(
      #{$minSize+px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );

    // @media only screen and (min-width : 1920px) {
    //   #{$property}:calc((#{$startSize} / #{$vw-context}) * 1vw);
    // }
    @media #{$transition-width-screen} {
      #{$property}: calc((#{$startSize} / #{$vw-context}) * 1vw);
    }

    @media (min-width: 2560px) {
      #{$property}: $startSize + px;
    }
  } @else if $type==4 {
    #{$property}: calc(
      #{$minSize+px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    ) !important;

    // @media only screen and (min-width : 1920px) {
    //   #{$property}:calc((#{$startSize} / #{$vw-context}) * 1vw);
    // }

    @media #{$transition-width-screen} {
      #{$property}: calc((#{$startSize} / #{$vw-context}) * 1vw) !important;
    }

    @media #{$ultraWidth-screen} {
      #{$property}: $startSize + px !important;
    }
  } @else if $type==5 {
    #{$property}: calc(
      #{$minSize+px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    ) !important;

    @media #{$ultraWidth-screen} {
      #{$property}: $startSize + px !important;
    }
  } @else {
    #{$property}: calc(
      #{$minSize+px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );

    @media ($ultraWidth-screen) {
      #{$property}: $startSize + px;
    }
  }
}

@mixin coll($collCount, $collGap) {
  flex: 1 1 calc((100% / #{$collCount}) - #{get-vw($collGap)});
}
