mixin breadcrumb(levels,)
  .navigation.animate__animated.animate__fadeInUp

    //breadcrumb__nav start
    nav(aria-label="breadcrumb").breadcrumb__nav

      //breadcrumb start
      ul.breadcrumb
        each level, index in levels
          - var count = index+1

          //breadcrumb-item start
          li.breadcrumb-item

            //breadcrumb-link start
            a(href=`${level[1]}`,class="breadcrumb-link")
            
              //breadcrumb-title start
              span(class="breadcrumb-title") #{level[0]}
              //breadcrumb-title end
              
            //breadcrumb-link end

          ///breadcrumb-item start

      //breadcrumb end

    //breadcrumb__nav end