.custom-select-wrapper.header__select
  .custom-select
    select.custom-select-input(required='' name='select')
      option
    .custom-select__trigger
      span Выбрать
      .triangle
    .custom-options
      span.custom-option.selected(data-value='def') Выбрать
      span.custom-option(data-value='Var-1')  Var-1 
      span.custom-option(data-value='Var-2') Var-2