.popular__tabs.swiper-container 
  ul.popular__tabs-wrapper.swiper-wrapper(role="tablist") 
    include mixins/-popular__tab.pug
    +popular__tab("Кольца")(class="--active")
    +popular__tab("Серьги")
    +popular__tab("Колье")
    +popular__tab("Браслет")
    +popular__tab("Кулоны")
    +popular__tab("Часы")

