footer.footer
  .wrapper.footer-wrapper
    a.logo.header-logo(href="#")
      img(src="img/favicon.png", alt="logo", draggable="false", loading="lazy", title="logo")

include ../elements/-modal__form.pug
include ../elements/-modal__img.pug
include ../elements/-scripts.pug