header.header
  .wrapper.header-wrapper
    .burger__menu
      span
      span
      span
    a.logo.header-logo(href="#")
      img(src="img/favicon.png", alt="logo", draggable="false", loading="lazy", title="logo")
    include ../elements/-menu.pug
    button.btn.show__modal(tabindex="0",role="button",href="#modal__form") button
