doctype html
html(lang="ru")

  //head start
  include ./includes/mixins/head
  +head("Главная")
  //head end

  body
  
    //schemaDescription start
    include ./includes/mixins/schemaDescription
    +schemaDescription(
      "title",
      "./img/img_1.jpg",
      "description",
      "shortDescription")
    //schemaDescription end
    
    //header start
    include ./includes/parts/main/header
    //header end

    //page-main start
    main.main.page-main end
      .wrapper
    //page-main start
    
    //footer start
    include ./includes/parts/main/footer
    //footer end
    include ./includes/parts/other/modal__form.pug
    include ./includes/parts/other/modal__img.pug
    include ./includes/parts/other/scripts.pug
