doctype html
html(lang="ru")
  include includes/main/_head.pug
  body
    include includes/main/_header.pug
    main.main
      .wrapper
        include includes/elements/-custom-select.pug
        a(href="#")  tercn
    include includes/main/_footer.pug